<div class="flex justify-center">
  <div class="mockup-phone border-primary">
    <div class="camera"></div>
    <div class="display">
      <div class="pt-6 pb-4 bg-white">
        <slot />
      </div>
    </div>
  </div>
</div>
