---
import { getCollection } from 'astro:content';
import OuterLayout from '../../layouts/OuterLayout.astro';
import SEOTags from '../../components/SEOTags.svelte';
import BlogPostList from '../../components/BlogPostList.svelte';

const publishedPosts = (await getCollection('blog'))
	.filter((post) => !post.data.draft);
---

<SEOTags
	title="Casey's Blog"
	description="Casey writes about: programming, psychology, workplace culture, community development, personal updates, tech tips, local DMV-area events and online events."
	contentType="website"
	url={Astro.url.href}
/>

<OuterLayout>
	<section>
		<div class="panel space-y-6">
			<h2 class="text-3xl text-center">Blog Posts</h2>
			<div class="flex flex-col md:flex-row space-y-6 md:space-y-0 justify-around text-lg">
				<div class="text-center space-y-0">
					<div>Subscribe by Email</div>
					<div><a class="link text-lg" href="/newsletter">Newsletter</a></div>
				</div>		
				<div class="text-center space-y-0">
					<div class="text-lg">Subscribe by RSS</div>
					<code class="inline-block text-sm md:text-md text-center p-2">https://caseywatts.com/rss.xml</code>
				</div>
			</div>
		</div>
		<BlogPostList posts={publishedPosts} />
	</section>
</OuterLayout>
