---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import OuterLayout from '../../layouts/OuterLayout.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<OuterLayout>
	<section class="bg-blue-50 p-2 md:p-6 my-2 md:my-6 mx-auto prose lg:prose-lg drop-shadow-2xl hover:drop-shadow-xl transition ease-in-out duration-500">
		<ul>
			{
				posts.map((post) => (
					<li>
						<FormattedDate date={post.data.pubDate} />
						<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</OuterLayout>
