/* general setup */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

body {
	word-wrap: break-word;
	overflow-wrap: break-word;
	/* font-family: 'Quicksand', sans-serif; */
}

.all-small-caps {
	font-variant-caps: all-small-caps;
}

.link-color {
	@apply text-blue-500 visited:text-violet-500;
}

.link {
	@apply link-color underline;
}

.prose a {
	@apply link-color underline;
}

.button-link {
	@apply bg-gradient-to-r from-purple-200 via-blue-200 to-purple-200 active:to-violet-200 active:from-violet-200 text-center rounded-full p-4 shadow-md shadow-violet-400 hover:shadow-violet-400/50 no-underline
}


/* components */

.panel {
	@apply bg-blue-50;
	@apply p-2 md:p-6 my-2 md:my-6 mx-auto max-w-3xl;
	/* @apply shadow-md shadow-violet-400 hover:shadow-violet-400/50; */
	@apply transition ease-in-out duration-500;
}

/* checkbox lists */

.prose input[type="checkbox"] {
	@apply mr-1 mb-1 mt-0
}

.prose li:has(input[type=checkbox]) {
	@apply list-none -indent-6
}


/* blockquotes; code blocks */

.prose blockquote {
	font-style: normal;
	@apply bg-blue-100 p-2 text-gray-600 space-y-6
}

.prose blockquote p::before {
	content: none;
}
.prose blockquote p {
	@apply my-0
}

code, pre {
	@apply bg-blue-100;
	border: 1px solid #ddd;
	padding: 4px;
	font-weight: normal;
	overflow-x: scroll;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.link-card {
	@apply panel block bg-blue-100 visited:bg-purple-100 border border-blue-500 hover:border-blue-900 visited:border-purple-500 p-2 md:p-6 my-2 md:my-6 mx-auto prose lg:prose-lg transition ease-in-out duration-500 drop-shadow-2xl hover:drop-shadow-xl
}