---
import OuterLayout from '../layouts/OuterLayout.astro';
import Linktree from "../components/Linktree.astro";
import Bio from '../components/Bio.astro';
---

<OuterLayout>
	<div class="bg-blue-50 p-2 md:p-6 my-2 md:my-6 mx-auto max-w-4xl drop-shadow-2xl hover:drop-shadow-xl transition ease-in-out duration-500">
		<p class="prose prose-indigo mx-auto text-center">
      Come join the next Bubble Party! :)
      <br />
      Event page:
      <a href="http://caseywatts.com/bubbleparty">caseywatts.com/bubbleparty</a>
    </p>    
	</div>
</OuterLayout>


