---
import OuterLayout from "../../src/layouts/OuterLayout.astro"
import SEOTags from "../components/SEOTags.svelte";
import Feeds from "../components/Feeds.svelte";
---

<SEOTags 
	title="Casey's Feed Collections"
	description="Take ownership of your news feeds - curate your own."
	contentType="website"
	url={Astro.url.href}
/>

<OuterLayout>
	<div class="">
		<Feeds client:load />
	</div>
</OuterLayout>
