---
import { getCollection } from 'astro:content';
import OuterLayout from '../layouts/OuterLayout.astro';
import Linktree from "../components/Linktree.astro";
import Bio from '../components/Bio.astro';
import BlogPostList from '../components/BlogPostList.svelte';
import SEOTags from '../components/SEOTags.svelte';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const publishedPosts = (await getCollection('blog'))
	.filter((post) => !post.data.draft);
---

<SEOTags 
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	contentType="website"
	url={Astro.url.href}
/>

<OuterLayout>
	<div class="panel panel-main">
		<Bio></Bio>
	</div>
	
	<div class="panel panel-main">
		<h2 class="text-3xl text-center">Latest Blog Posts</h2>
	</div>
	<BlogPostList posts={publishedPosts} limit={3} client:load />
	<div class="panel panel-main">
		<Linktree />
	</div>
</OuterLayout>