---
import OuterLayout from '../layouts/OuterLayout.astro';
import Linktree from "../components/Linktree.astro";
import Bio from '../components/Bio.astro';
---

<OuterLayout>
	<div class="panel">
		<Bio></Bio>
		<Linktree></Linktree>
	</div>
</OuterLayout>