---
import Page from "../../src/layouts/Page.astro"
import SEOTags from "../components/SEOTags.svelte";
---

<SEOTags 
	title="Soundboard"
	description="You know those little sound bytes that live in your head forever? Here are some of Casey's!"
	contentType="website"
	url={Astro.url.href}
/>

<Page>
  <audio id="catbug-whoopsies" preload="auto" src="/soundboard/catbug-whoopsies.mp3"></audio>
  <audio id="sardonyx-elegant" preload="auto" src="/soundboard/sardonyx-elegant.m4a"></audio>
  <audio id="teengirlsquad-sogood" preload="auto" src="/soundboard/teengirlsquad-sogood.m4a"></audio>
  <audio id="eggs" preload="auto" src="/soundboard/eggs.m4a"></audio>

  <h1 style="text-align: center">Soundboard</h1>
  <div class="some-section">
    <div class="grid grid-cols-2">
      <a href="#catbug-whoopsies" class="button-link m-2" onclick="document.getElementById('catbug-whoopsies').play();">
        WHOOPSIES 🔊
      </a>
      <a href="https://www.youtube.com/watch?v=rFWb7DG7zTc" class="button-link m-2">
        WHOOPSIES source
      </a>
    </div>
    <div class="grid grid-cols-2">
      <a href="#sardonyx-elegant" class="button-link m-2" onclick="document.getElementById('sardonyx-elegant').play();">
        ELEGANT 🔊
      </a>
      <a href="https://www.youtube.com/watch?v=4rdgXaQc0bo" class="button-link m-2">
        ELEGANT source
      </a>
    </div>
    <div class="grid grid-cols-2">
      <a href="#teengirlsquad-sogood" class="button-link m-2" onclick="document.getElementById('teengirlsquad-sogood').play();">
        SO GOOD 🔊
      </a>
      <a href="https://www.youtube.com/watch?v=3CSNGEqhgI0" class="button-link m-2">
        SO GOOD source
      </a>
    </div>
    <div class="grid grid-cols-2">
      <a href="#eggs" class="button-link m-2" onclick="document.getElementById('eggs').play();">
        EGGS 🔊
      </a>
      <a href="https://www.youtube.com/watch?v=SsjJ1WWrV20" class="button-link m-2">
        EGGS source
      </a>
    </div>
  </div>

  <h2 style="text-align: center">Good Vibes</h2>
  <div class="some-section text-center">
    <a href="#" class="button-link m-2" onclick="window.navigator.vibrate([200, 100, 200]);">
      vibe (phone only)
    </a>
  </div>

  <script is:inline>
    var autoplayTrackId = window.location.hash.substring(1);
    if (autoplayTrackId) { document.getElementById(autoplayTrackId).play(); }
  </script>
</Page>