---
import headshot from "../assets/headshot-2.jpg";
---

<div class="h-card">
  <div class="bg-gray-100 rounded-lg flex flex-wrap justify-around">
    <div class="flex justify-around">
      <div class="flex-shrink flex flex-wrap items-center justify-center align-middle">
        <img src={headshot.src} height="150px" width="150px" class="u-photo rounded-full ring-8 ring-violet-300 m-4" alt="Casey's headshot" />
        <div class="m-1 md:m-2 space-y-6">
          <h2 class="text-violet-400 text-5xl text-center">Hi, I'm Casey!</h2>
          <p class="prose prose-indigo text-center p-note">
            I'm all about helping people be<br />
            <a href="https://www.happyandeffective.com">happy and effective.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <p class="prose mx-auto p-2 md:p-6">
      You might know me from my:
      <a
        class=""
        href="https://www.youtube.com/watch?v=nj3IoW_rboE&amp;list=PLsGBNq2i4TkLJUc2p5-p1T2LATcuP-Kx1"
        >talks at tech conferences</a
      >, or
      <a class="" href="https://www.debuggingyourbrain.com"
        >book Debugging Your Brain</a
      >, or <a class="bubble-link" href="/blog">blog posts</a>,
      or
      <a
        class="bubble-link"
        href="https://www.greaterthancode.com/hosts/casey-watts"
        >co-hosting the Greater Than Code podcast</a
      >, or <a class="bubble-link" href="/bubbles">blowing bubbles</a>.
    </p>
  </div>
</div>
