---
import headshot from "../assets/headshot-2.jpg";
---

<div class="">
  <div class="bg-gray-100 my-0 md:my-4 p-4 md:p-5 rounded-lg flex flex-wrap justify-around">
    <div class="flex justify-around">
      <div class="flex-shrink flex flex-wrap items-center justify-center">
        <img src={headshot} height="150px" width="150px" class="rounded-full ring-8 ring-violet-500 m-4" alt="Casey's headshot" />
        <div class="m-1 md:m-2">
          <h2 class="text-violet-500 text-5xl text-center">Hi, I'm Casey!</h2>
          <p class="mt-2 prose prose-indigo text-center">
            I'm all about helping people be<br />
            <a href="https://www.happyandeffective.com">happy and effective.</a>
          </p>
        </div>
      </div>
    </div>
    <div class="flex-grow flex flex-col justify-center">
      <p class="prose prose-indigo mx-auto m-4">Casey has dual backgrounds in <b>psychology</b> and <b>software development</b>. He is the author of <a href="https://www.debuggingyourbrain.com">Debugging Your Brain</a>, an applied psychology and self-help book. He has worked in tech for 10+ years in many roles: Product Manager, Engineering Manager, and UX Developer.</p>
      <p class="prose prose-indigo mx-auto m-4">
        Want your team to be the happiest, most effective team around? Casey is uniquely capable of helping transform the culture of your tech team. Your company deserves Casey's support:
        <a href="/keynotes">keynote presentations</a>, <a href="/workshops">workshops</a>, and coaching.
      </p>
    </div>
  </div>
</div>
