---
const {href, text} = Astro.props
---

<span>
  <a href={href} class="m-4 bg-gradient-to-r from-purple-200 via-blue-200 to-purple-200 text-center rounded-full p-4 min-w-80 items-center flex justify-center shadow-md hover:shadow-sm">
    {text}
  </a>
</span>
