---
const {href, text} = Astro.props
---

<span>
  <a href={href} class="m-4 bg-gradient-to-r from-purple-200 via-blue-200 to-purple-200 hover:shadow-md hover:translate-x-0.5 hover:translate-y-0.5 text-center rounded-full p-4 block min-w-80 items-center flex justify-center">
    {text}
  </a>
</span>
