<div class="text-lg bg-violet-200 block p-5 rounded-lg text-center">
  <span id="checked">0</span>
  <span> of </span>
  <span id="total">15</span>
</div>

<script is:inline>
  const updateCheckboxCounter = function() {
    const checked = document.querySelectorAll("input[type=checkbox]:checked").length;
    const total = document.querySelectorAll("input[type=checkbox]").length;
    document.getElementById("checked").innerHTML = checked;
    document.getElementById("total").innerHTML = total;
  }

  document.querySelectorAll("input[type=checkbox]").forEach((box) => {
    box.addEventListener('change', updateCheckboxCounter)
  });
</script>