---
import dybcover from "../assets/DYBCoverRGB@2x.jpg";
---

<div class="flex flex-row justify-center items-center">
  <a href="https://www.debuggingyourbrain.com">
    <img src={dybcover.src} style="height:10rem; align:middle;"/>
  </a>
  <div class="p-4 lg:pl-8 max-w-sm text-center">
    <p>
      This post was a precursor<br>to Casey's book<br><a href="https://www.debuggingyourbrain.com">"Debugging Your Brain."</a>
    </p>
  </div>
</div>