---
import SocialMedia from "./SocialMedia.astro";

const today = new Date();
---

<footer class="bg-blue-100 flex-shrink-0 pb-8">
  <div class="flex flex-col">
    <p class="prose lg:prose-lg mx-auto p-2 md:p-6">
      You might know Casey Watts! from his:
      <a
        class=""
        href="https://www.youtube.com/watch?v=nj3IoW_rboE&amp;list=PLsGBNq2i4TkLJUc2p5-p1T2LATcuP-Kx1"
        >talks at tech conferences</a
      >, or
      <a class="" href="https://www.debuggingyourbrain.com"
        >book Debugging Your Brain</a
      >, or <a class="bubble-link" href="/blog">articles and blog posts</a>,
      or
      <a
        class="bubble-link"
        href="https://www.greaterthancode.com/hosts/casey-watts"
        >co-hosting the Greater Than Code podcast</a
      >, or <a class="bubble-link" href="/bubbles">blowing bubbles</a>.
    </p>
		<SocialMedia />
    </div>
  </div>
</footer>
