---
const {url} = Astro.props;
---

<script defer data-domain="caseywatts.com" src="https://plausible.io/js/script.outbound-links.tagged-events.js"></script>

<!-- <script define:vars={{ url }}> 
  window.location = url;
</script> -->

<!-- backup in case javascript is off -->
<meta http-equiv="refresh" content=`3; url=${url}`} />
<p>redirecting to <a href={url}>{url}</a></p>