---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = (await getCollection('blog'))
		.filter((post) => post.data.draft);
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {post}>
	<div class="bg-orange-200 p-4 text-center">DRAFT ARTICLE</div>
	<Content />
</BlogPost>
