---
import OuterLayout from '../layouts/OuterLayout.astro';

const { title, description } = Astro.props;
---

<title slot="head">{title}</title>
<meta slot="head" name="title" content={title} />
<meta slot="head" name="description" content={description} />

<OuterLayout>
	<div class="panel">
		<article class="prose">
			<slot />
		</article>	
	</div>
</OuterLayout>